/* login register  */
.account-s {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #d9e1e4;
}
.account-s .title {
  background-color: #fff;
  padding: 8px 10px;
  font-size: 20px;
}
.account-s form {
  padding: 15px;
  background-color: #ecf0f1;
}
.col-group + .col-group {
  margin-top: 15px;
}
.col-group label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
}
.col-group input,
.col-group select {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 15px;
  line-height: 1;
  outline: none;
}
.col-group button {
  display: block;
  width: 100%;
  border: 1px solid #b78a28;
  background: #b78a28;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.btn-primary:hover {
  color: #fff;
  opacity: 1;
  background-color: #3071a9;
  border-color: #285e8e;
}
/* breadcrumbs  */
.breadcrumbs {
  list-style: none;
  position: relative;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  text-transform: capitalize;
  color: #666666;
}
.breadcrumbs li + li::before {
  content: "/\00a0";
  padding: 6px;
  color: #666666;
}
/* detail story  */
.block + .block {
  margin-top: 20px;
}
.detail-story {
  margin-bottom: 20px;
}
.headingH1 .ttl {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
}
p.txt-desc {
  font-size: 16px;
  margin: 0 0 10px;
}
.list-cate {
  margin: 0 0 10px;
}
.list-cate li {
  font-size: 16px;
}
.list-cate li i {
  display: inline-block;
  padding-right: 5px;
}
.link-btn {
  margin: 0 0 10px;
}

.link-btn li {
  display: inline-block;
  margin: 2px 2px 2px 0;
}
.category-sub {
  padding: 0 !important;
}
li a i {
  display: inline-block;
  padding-right: 5px;
  font-size: 14px;
}
.link-story li {
  padding: 8px;
}
.link-story li + li {
  border-top: 1px dashed #ccc;
}
.link-story .txt-num {
  width: 31px;
  height: 31px;
  border: #cbcbcb solid 1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  margin-right: 10px;
}
.top1 {
  color: #fff;
  border: #e74c3c solid 1px;
  background-color: #e74c3c;
}
.top2 {
  color: #fff;
  background-color: #5eb949;
  border-color: #5eb949;
}
.top3 {
  color: #fff;
  border: #5cabb8 solid 1px;
  background-color: #5cabb8;
}
.link-story .txt-link {
  width: calc(100% - 41px);
}
.link-story .txt-link > a {
  color: #083767;
  font-size: 15px;
}
.link-story .txt-link .author a {
  font-size: 12px;
  color: #4e4e4e;
}
.vote {
  margin: 0 0 10px;
  display: flex;
  flex-wrap: wrap;
}
.star-rating {
  margin-right: 15px;
}
.star-rating .checked {
  color: #E59400;
}
.txt-vote {
  font-style: italic;
}
/* .comment  */
.comment {
  padding: 30px 0;
}
.comment .date {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.list-comment li {
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.comment .title {
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.person {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.person .avatar {
  width: 70px;
  height: 70px;
  padding-right: 15px;
}
.person .avatar img {
  width: 100%;
  border-radius: 50%;
}
.person .info {
  width: calc(100% - 85px);
}
.person .info .txt-name {
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.person .info .txt-cmt {
  font-size: 14px;
  margin-bottom: 15px;
}
.feedback {
  display: none;
}
.person .date a,
.feedback .txt01 a {
  font-size: 14px;
  padding-left: 10px;
}
.feedback {
  margin-top: 20px;
  padding: 20px;
  background: #F2F2F2;
}
.feedback .txt01 {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
}
.feedback .txt02 {
  font-size: 14px;
  color: #222;
  margin-bottom: 20px;
}
.form-comment label {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}
.form-comment .box {
  margin-bottom: 10px;
}
.form-comment textarea,
.form-comment input {
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  background: #fff;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  color: #222;
  outline: none;
}
.form-comment .btn-fb {
  min-width: 100px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  background: #4990cc;
  border: none;
  border-radius: 30px;
}
.feedback.active {
  display: block;
}
@media screen and (min-width: 1024px) {
  .book {
    position: relative;
    box-shadow: 5px 5px 20px #333;
  }
  .book::before,
  .book::after {
    position: absolute;
    top: 2%;
    height: 96%;
    content: " ";
    z-index: -1;
  }
  .book::before {
    width: 100%;
    left: 7.5%;
    background-color: #000;
  }
  .book::after {
    width: 5%;
    left: 100%;
    background-color: #efefef;
    box-shadow: inset 0 0 5px #aaa;
    transform: perspective(300px) rotateY(20deg);
    -moz-transform: rotateY(20deg);
    -webkit-transform: perspective(300) rotateY(20deg);
  }
  .detail-story {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .detail-story .box-img {
    width: 25%;
  }
  .detail-story .box-txt {
    width: 71%;
  }
  .detail-story .box-img img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    position: relative;
    vertical-align: middle;
    border: 1px solid #000;
    border-left: 5px solid #000;
  }
  .link-btn .btn {
    min-width: 170px;
  }
}
/* section-detail  */
.box-title {
 text-align: center;
}
.sprite {
  margin-bottom: 20px;
  text-align: center;
}
.title-story {
  font-size: 24px;
  color: #690;
  text-align: center;
  margin-bottom: 15px;
}
.title-chapter {
  color: gray;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}
.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.btn-chapter {
  font-size: 16px;
  line-height: 1;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  width: 205px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 2px;
}
.btn-chapter i {
  font-size: 14px;
}
select.btn-chapter {
  text-align: left;
  border: none;
  outline: none;
  padding: 15px 10px;
}
.box-quote {
  padding: 10px;
  background: #fff;
  border-left: 10px solid #ccc;
}
.box-quote .txt-quote {
  font-size: 16px;
}
.box-note {
  margin: 10px auto;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  border: 1px dashed #2D9FD8;
  background: #D9EDF7;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}
/* modal  */
.modal {
  display: none;
  position: fixed;
  z-index: 1231234;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-head {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}
.modal-head .txt-head {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}
.modal-body {
  padding: 20px;
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
  position: relative;
  border-radius: 10px;
}
.modal-content .account-s {
  border: none;
}
.modal-content .account-s form {
  background: #fff;
}
.txt-note {
  font-style: italic;  
  color: red
}
.close {
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.select-item + .select-item {
  margin-top: 10px;
}
.select-item .t1 {
  margin-bottom: 10px;
}
.group-select label {
  display: inline-block;
  color: #000;
  padding: 0;
  background: unset;
  margin-bottom: 2px;
}
.group-select label {
  margin-right: 15px;
  margin-bottom: 15px;
}
.group-select label span {
  display: inline-block;
  border-radius: 30px;
  position: relative;
  border: 1px solid #ccc;
  background: #ddd;
  min-width: 105px;
  padding: 5px 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.group-select input {
  display: none;
}
.group-select label input:checked + span {
  background-color: #9f251e;
    border-color: #9f251e;
    color: #fff;
}
.list-story-category li {
  padding: 10px 0;
}
.label-txt {
  padding: 1px 3px;
  font-size: 13px;
  vertical-align: bottom;
  margin-left: 5px;
  border: 1px solid #86ad86;
  color: #86ad86;
  display: inline-block;
  font-weight: normal;
}
.list-story-category li + li {
  border-top: 1px dashed #ccc;
}

.contact .col-group label {
  font-weight: bold;
}
.list-story-category .box-txt .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.list-story-category .box-txt .author {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
.list-info-contact {
  margin: 20px 0;
}
.list-info-contact li + li {
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  .list-story-category li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .list-story-category .box-img {
    width: 186px;
    height: 258px;
    margin-right: 20px;
  }
  .list-story-category .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .list-story-category .box-txt {
    width: calc(100% - 206px);
  }
  .contact {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) {
  .box-img {
    margin-bottom: 20px;
  }
  .box-img img {
    width: 100%;
  }
  .form-comment .box-flex {
    display: block;
  }
  .btn-chapter {
    width: 100%;
    margin: 2px 0;
  }
  .btn-group form {
    width: 100%;
  }
  .section-detail .comment {
    padding: 0;
  }
  .modal-content {
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    font-size: 12px;
  }
  .modal-content {
    width: 90%;
  }
}
